.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.vscode/
*.log*
*.idea*
.coverage

frontend/node_modules*
frontend/shrinkwrap.yaml
frontend/pnpm-lock.yaml

*__pycache__
.pytest_cache
*-lock.json
*.backup

docker_images/os/xv6-public
