.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.vscode/
*.log*
*.idea*
.coverage

docker_for_edu_site/node_modules*
docker_for_edu_site/shrinkwrap.yaml
docker_for_edu_site/pnpm-lock.yaml

*__pycache__
.pytest_cache
*-lock.json
*.backup

docker_images/os/xv6-public
